In [1]:
from Skripsi import Preprocessing
from Skripsi import Evaluation
from Skripsi import LSTMUnit
from pandas import read_csv
from pandas import DataFrame
import numpy as np
import pandas as pd
from openpyxl.workbook import Workbook
import pickle

In [2]:
ltc_dfd = pd.read_csv('../Dataset/Binance_LTCUSDT_1h.csv')
ltc_dfd

,Unix,Date,Symbol,Open,High,Low,Close,Volume LTC,Volume USDT,tradecount
0,1672527600000,2022-12-31 23:00:00,LTCUSDT,70.08,70.30,69.79,70.14,13547.20800,9.486568e+05,2306
1,1672524000000,2022-12-31 22:00:00,LTCUSDT,70.24,70.24,69.71,70.09,12617.98300,8.838422e+05,2288
2,1672520400000,2022-12-31 21:00:00,LTCUSDT,70.40,70.45,70.19,70.23,9698.22600,6.820723e+05,1580
3,1672516800000,2022-12-31 20:00:00,LTCUSDT,70.15,70.53,70.08,70.39,16666.36600,1.173164e+06,2150
4,1672513200000,2022-12-31 19:00:00,LTCUSDT,69.93,70.32,69.93,70.15,14214.55000,9.964355e+05,2499
...,...,...,...,...,...,...,...,...,...,...
26269,1577851200000,2020-01-01 04:00:00,LTCUSDT,41.53,41.85,41.45,41.59,5317.81964,2.214516e+05,668
26270,1577847600000,2020-01-01 03:00:00,LTCUSDT,41.84,41.85,41.49,41.53,3873.02370,1.613043e+05,400
26271,1577844000000,2020-01-01 02:00:00,LTCUSDT,41.63,41.88,41.62,41.85,5757.19484,2.402871e+05,762
26272,1577840400000,2020-01-01 01:00:00,LTCUSDT,41.28,41.70,41.27,41.62,6814.68608,2.830715e+05,997
26273,1577836800000,2020-01-01 00:00:00,LTCUSDT,41.29,41.29,41.16,41.28,2828.06038,1.165827e+05,396

In [3]:
df_no_dup = Preprocessing.handle_duplicate(ltc_dfd)
df_no_dup

duplicate ok

,Unix,Date,Symbol,Open,High,Low,Close,Volume LTC,Volume USDT,tradecount
0,1672527600000,2022-12-31 23:00:00,LTCUSDT,70.08,70.30,69.79,70.14,13547.20800,9.486568e+05,2306
1,1672524000000,2022-12-31 22:00:00,LTCUSDT,70.24,70.24,69.71,70.09,12617.98300,8.838422e+05,2288
2,1672520400000,2022-12-31 21:00:00,LTCUSDT,70.40,70.45,70.19,70.23,9698.22600,6.820723e+05,1580
3,1672516800000,2022-12-31 20:00:00,LTCUSDT,70.15,70.53,70.08,70.39,16666.36600,1.173164e+06,2150
4,1672513200000,2022-12-31 19:00:00,LTCUSDT,69.93,70.32,69.93,70.15,14214.55000,9.964355e+05,2499
...,...,...,...,...,...,...,...,...,...,...
26269,1577851200000,2020-01-01 04:00:00,LTCUSDT,41.53,41.85,41.45,41.59,5317.81964,2.214516e+05,668
26270,1577847600000,2020-01-01 03:00:00,LTCUSDT,41.84,41.85,41.49,41.53,3873.02370,1.613043e+05,400
26271,1577844000000,2020-01-01 02:00:00,LTCUSDT,41.63,41.88,41.62,41.85,5757.19484,2.402871e+05,762
26272,1577840400000,2020-01-01 01:00:00,LTCUSDT,41.28,41.70,41.27,41.62,6814.68608,2.830715e+05,997
26273,1577836800000,2020-01-01 00:00:00,LTCUSDT,41.29,41.29,41.16,41.28,2828.06038,1.165827e+05,396

In [4]:
df = Preprocessing.feature_selection(df_no_dup)
df

       Close
0      41.28
1      41.62
2      41.85
3      41.53
4      41.59
...      ...
26269  70.15
26270  70.39
26271  70.23
26272  70.09
26273  70.14

[26274 rows x 1 columns]

In [5]:
miss = Preprocessing.handle_missing_value(df)
miss

No missing value

       Close
0      41.28
1      41.62
2      41.85
3      41.53
4      41.59
...      ...
26269  70.15
26270  70.39
26271  70.23
26272  70.09
26273  70.14

[26274 rows x 1 columns]

In [6]:
x, scaler = Preprocessing.minmax_scale(miss)
x

array([[0.04170567],
       [0.0425897 ],
       [0.04318773],
       ...,
       [0.11697868],
       [0.11661466],
       [0.11674467]])

In [7]:
train, test = Preprocessing.splitting_data(x)
train

array([[0.04170567],
       [0.0425897 ],
       [0.04318773],
       ...,
       [0.10208008],
       [0.09947998],
       [0.09869995]])

In [8]:
test

array([[0.09427977],
       [0.09557982],
       [0.09791992],
       ...,
       [0.11697868],
       [0.11661466],
       [0.11674467]])

In [9]:
train_X, train_y = Preprocessing.create_dataset(train,50)
test_X, test_y = Preprocessing.create_dataset(test,50)

In [10]:
train_X

array([[[0.04170567],
        [0.0425897 ],
        [0.04318773],
        ...,
        [0.03689548],
        [0.03645346],
        [0.03546542]],

       [[0.0425897 ],
        [0.04318773],
        [0.04235569],
        ...,
        [0.03645346],
        [0.03546542],
        [0.03705148]],

       [[0.04318773],
        [0.04235569],
        [0.0425117 ],
        ...,
        [0.03546542],
        [0.03705148],
        [0.03679147]],

       ...,

       [[0.1174207 ],
        [0.11768071],
        [0.1174207 ],
        ...,
        [0.09973999],
        [0.10104004],
        [0.10182007]],

       [[0.11768071],
        [0.1174207 ],
        [0.11690068],
        ...,
        [0.10104004],
        [0.10182007],
        [0.10208008]],

       [[0.1174207 ],
        [0.11690068],
        [0.11638066],
        ...,
        [0.10182007],
        [0.10208008],
        [0.09947998]]])

In [11]:
train_y

array([0.03705148, 0.03679147, 0.03941758, ..., 0.10208008, 0.09947998,
       0.09869995])

In [12]:
test_X

array([[[0.09427977],
        [0.09557982],
        [0.09791992],
        ...,
        [0.09869995],
        [0.09713989],
        [0.09557982]],

       [[0.09557982],
        [0.09791992],
        [0.09635985],
        ...,
        [0.09713989],
        [0.09557982],
        [0.09609984]],

       [[0.09791992],
        [0.09635985],
        [0.0950598 ],
        ...,
        [0.09557982],
        [0.09609984],
        [0.09583983]],

       ...,

       [[0.10715029],
        [0.10647426],
        [0.10611024],
        ...,
        [0.11619865],
        [0.11677067],
        [0.1173947 ]],

       [[0.10647426],
        [0.10611024],
        [0.1073843 ],
        ...,
        [0.11677067],
        [0.1173947 ],
        [0.11697868]],

       [[0.10611024],
        [0.1073843 ],
        [0.10769631],
        ...,
        [0.1173947 ],
        [0.11697868],
        [0.11661466]]])

In [13]:
test_y

array([0.09609984, 0.09583983, 0.09687988, ..., 0.11697868, 0.11661466,
       0.11674467])

In [14]:
print(train_X.shape, train_y.shape, test_X.shape, test_y.shape)

(20969, 50, 1) (20969,) (5205, 50, 1) (5205,)

## Model Training

In [15]:
hyperparam = [(32,50,100)]

In [16]:
for batch, epoch, neuron in hyperparam:
    model1, bilstm1 = LSTMUnit.train_bilstm(train_X, train_y, test_X, test_y, neuron, epoch, batch)

Metal device set to: Apple M1

2023-04-07 20:33:47.981024: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-04-07 20:33:47.981158: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Epoch 1/50

2023-04-07 20:33:48.217865: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2023-04-07 20:33:50.536260: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2023-04-07 20:33:50.788116: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2023-04-07 20:33:50.804916: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2023-04-07 20:33:51.229513: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2023-04-07 20:33:51.257117: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2023-04-07 20:34:29.682755: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2023-04-07 20:34:29.852122: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2023-04-07 20:34:29.871691: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

656/656 - 47s - loss: 7.0301e-04 - val_loss: 1.5004e-04 - 47s/epoch - 72ms/step
Epoch 2/50
656/656 - 44s - loss: 9.7951e-04 - val_loss: 4.2747e-04 - 44s/epoch - 67ms/step
Epoch 3/50
656/656 - 47s - loss: 0.0016 - val_loss: 5.8147e-04 - 47s/epoch - 71ms/step
Epoch 4/50
656/656 - 48s - loss: 0.0016 - val_loss: 8.8369e-04 - 48s/epoch - 73ms/step
Epoch 5/50
656/656 - 48s - loss: 0.0014 - val_loss: 8.6392e-04 - 48s/epoch - 73ms/step
Epoch 6/50
656/656 - 48s - loss: 0.0012 - val_loss: 5.6879e-04 - 48s/epoch - 73ms/step
Epoch 7/50
656/656 - 48s - loss: 9.8897e-04 - val_loss: 5.8790e-04 - 48s/epoch - 73ms/step
Epoch 8/50
656/656 - 48s - loss: 8.0854e-04 - val_loss: 4.4183e-04 - 48s/epoch - 73ms/step
Epoch 9/50
656/656 - 49s - loss: 6.1442e-04 - val_loss: 3.6004e-04 - 49s/epoch - 75ms/step
Epoch 10/50
656/656 - 49s - loss: 4.5157e-04 - val_loss: 1.8490e-04 - 49s/epoch - 74ms/step
Epoch 11/50
656/656 - 49s - loss: 3.2561e-04 - val_loss: 8.6724e-05 - 49s/epoch - 74ms/step
Epoch 12/50
656/656 - 49s - loss: 2.5024e-04 - val_loss: 5.1032e-05 - 49s/epoch - 75ms/step
Epoch 13/50
656/656 - 48s - loss: 1.9958e-04 - val_loss: 3.7224e-05 - 48s/epoch - 74ms/step
Epoch 14/50
656/656 - 42s - loss: 1.7307e-04 - val_loss: 3.0710e-05 - 42s/epoch - 64ms/step
Epoch 15/50
656/656 - 42s - loss: 1.5463e-04 - val_loss: 2.6542e-05 - 42s/epoch - 65ms/step
Epoch 16/50
656/656 - 42s - loss: 1.5364e-04 - val_loss: 2.6412e-05 - 42s/epoch - 64ms/step
Epoch 17/50
656/656 - 42s - loss: 1.6320e-04 - val_loss: 2.5949e-05 - 42s/epoch - 64ms/step
Epoch 18/50
656/656 - 46s - loss: 1.8266e-04 - val_loss: 2.9928e-05 - 46s/epoch - 70ms/step
Epoch 19/50
656/656 - 44s - loss: 1.7403e-04 - val_loss: 2.5192e-05 - 44s/epoch - 67ms/step
Epoch 20/50
656/656 - 44s - loss: 1.4459e-04 - val_loss: 1.9037e-05 - 44s/epoch - 68ms/step
Epoch 21/50
656/656 - 44s - loss: 1.1404e-04 - val_loss: 1.4252e-05 - 44s/epoch - 68ms/step
Epoch 22/50
656/656 - 45s - loss: 9.6998e-05 - val_loss: 1.2227e-05 - 45s/epoch - 68ms/step
Epoch 23/50
656/656 - 45s - loss: 1.0005e-04 - val_loss: 1.3609e-05 - 45s/epoch - 68ms/step
Epoch 24/50
656/656 - 46s - loss: 1.1570e-04 - val_loss: 1.5841e-05 - 46s/epoch - 70ms/step
Epoch 25/50
656/656 - 45s - loss: 1.3293e-04 - val_loss: 1.4929e-05 - 45s/epoch - 69ms/step
Epoch 26/50
656/656 - 46s - loss: 1.2563e-04 - val_loss: 1.4047e-05 - 46s/epoch - 70ms/step
Epoch 27/50
656/656 - 46s - loss: 1.0456e-04 - val_loss: 1.0733e-05 - 46s/epoch - 71ms/step
Epoch 28/50
656/656 - 46s - loss: 9.0025e-05 - val_loss: 9.1018e-06 - 46s/epoch - 71ms/step
Epoch 29/50
656/656 - 46s - loss: 8.7622e-05 - val_loss: 9.2522e-06 - 46s/epoch - 70ms/step
Epoch 30/50
656/656 - 46s - loss: 9.3907e-05 - val_loss: 1.0537e-05 - 46s/epoch - 71ms/step
Epoch 31/50
656/656 - 46s - loss: 1.0293e-04 - val_loss: 1.0369e-05 - 46s/epoch - 71ms/step
Epoch 32/50
656/656 - 47s - loss: 1.0423e-04 - val_loss: 9.9060e-06 - 47s/epoch - 71ms/step
Epoch 33/50
656/656 - 47s - loss: 9.6177e-05 - val_loss: 8.4434e-06 - 47s/epoch - 71ms/step
Epoch 34/50
656/656 - 47s - loss: 8.4697e-05 - val_loss: 7.3174e-06 - 47s/epoch - 71ms/step
Epoch 35/50
656/656 - 47s - loss: 7.9816e-05 - val_loss: 7.0661e-06 - 47s/epoch - 71ms/step
Epoch 36/50
656/656 - 47s - loss: 8.1762e-05 - val_loss: 7.5462e-06 - 47s/epoch - 71ms/step
Epoch 37/50
656/656 - 47s - loss: 8.8776e-05 - val_loss: 7.9082e-06 - 47s/epoch - 71ms/step
Epoch 38/50
656/656 - 47s - loss: 9.2706e-05 - val_loss: 7.3789e-06 - 47s/epoch - 72ms/step
Epoch 39/50
656/656 - 47s - loss: 8.6436e-05 - val_loss: 6.5296e-06 - 47s/epoch - 72ms/step
Epoch 40/50
656/656 - 48s - loss: 7.8382e-05 - val_loss: 5.9609e-06 - 48s/epoch - 73ms/step
Epoch 41/50
656/656 - 49s - loss: 7.4405e-05 - val_loss: 5.8863e-06 - 49s/epoch - 74ms/step
Epoch 42/50
656/656 - 47s - loss: 7.5162e-05 - val_loss: 6.1348e-06 - 47s/epoch - 72ms/step
Epoch 43/50
656/656 - 47s - loss: 7.9791e-05 - val_loss: 6.1935e-06 - 47s/epoch - 71ms/step
Epoch 44/50
656/656 - 47s - loss: 8.0956e-05 - val_loss: 5.7345e-06 - 47s/epoch - 72ms/step
Epoch 45/50
656/656 - 47s - loss: 7.7702e-05 - val_loss: 5.3160e-06 - 47s/epoch - 71ms/step
Epoch 46/50
656/656 - 47s - loss: 7.2887e-05 - val_loss: 5.1313e-06 - 47s/epoch - 71ms/step
Epoch 47/50
656/656 - 47s - loss: 7.0646e-05 - val_loss: 5.1505e-06 - 47s/epoch - 71ms/step
Epoch 48/50
656/656 - 47s - loss: 7.1328e-05 - val_loss: 5.2304e-06 - 47s/epoch - 72ms/step
Epoch 49/50
656/656 - 47s - loss: 7.2882e-05 - val_loss: 5.1615e-06 - 47s/epoch - 71ms/step
Epoch 50/50
656/656 - 45s - loss: 7.3095e-05 - val_loss: 4.8910e-06 - 45s/epoch - 68ms/step

In [19]:
i=0
# make a prediction
test_x2 = test_X
yhat = LSTMUnit.predict(test_x2, model1)
inv_yhat = Preprocessing.inverse_scaler(yhat, scaler)
inv_y = Preprocessing.inverse_scaler(test_y.reshape(-1,1), scaler)
print(hyperparam[i])
print("Epoch: "+ str(bilstm1.params['epochs']))
print("Neurons: "+str(model1.layers[0].layer.units))
i = i+1
print('RMSE')
print(Evaluation.rmse(inv_y,inv_yhat))
print('MAE')
print(Evaluation.mae(inv_y,inv_yhat))
print('MAPE')
print(Evaluation.mape(inv_y,inv_yhat))
LSTMUnit.save_model(model1, 1, 'LTC',hyperparam[0])
with open('BiLSTM_LTC'+str(hyperparam[0])+'.pkl', 'wb') as f:
    pickle.dump(bilstm1.history, f)

163/163 [==============================] - 3s 15ms/step
(32, 50, 100)
Epoch: 50
Neurons: 100
RMSE
0.8505658031608435
MAE
0.6044476154778122
MAPE
0.9627032798248826